<header>
  <app-header></app-header>
</header>

<div class="px-4 py-2 my-5 text-center">
  <h1 class="display-4 fw-normal">Mes randonnées</h1>

  <div class="col-lg-6 mx-auto">
    <p class="fs-5 text-muted">
      Découvrez les randonnées que j'ai faites seul, entre amis ou en famille.
      <!--Je vous propose toutes les informations nécessaires pour faire vous aussi
      ces itinéraires.-->
    </p>

    <!--<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
    </div>-->
  </div>
</div>

<hr class="col-3 col-md-2 mx-auto" />

<div class="row g-5">
  <div id="latest-hikes" class="col-md-12">
    <h2>Dernières sorties</h2>

    <section>
      <ul class="hikes-list">
        <li class="sidenotes">Année 2022</li>
        <li>
          <span class="date">26 fev. 2022</span>
          <a href="" class="badge badge-secondary category">Raquette</a> &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a lang="fr" href="">Sortie nocturne dans les Coulmes</a>
        </li>
        <li>
          <span class="date">12 fev. 2022</span>
          <a href="" class="badge badge-secondary category">Raquette</a> &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a lang="fr" href="">La cabane de Carette en suivant le GR91</a>
        </li>
        <li>
          <span class="date">22 janv. 2022</span>
          <a href="" class="badge badge-secondary category">Raquette</a> &nbsp;
          <span class="d-inline-block mb-2 massif beaufortain">
            <i class="fas fa-mountain"></i> Beaufortain
          </span>
          &nbsp;
          <a lang="fr" href="">Roche Parstire depuis le Col du Pré</a>
        </li>
        <li>
          <span class="date">15 janv. 2022</span>
          <a href="" class="badge badge-secondary category">Raquette</a> &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a lang="fr" href=""
            >Boucle Emeindras du dessus et Col de Emeindras</a
          >
        </li>
        <li>
          <span class="date">08 janv. 2022</span>
          <a href="" class="badge badge-secondary category">Pédestre</a> &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a lang="fr" href="">L'Ecoutoux</a>
        </li>
        <li class="sidenotes">Année 2021</li>
        <li>
          <span class="date">26 déc. 2021</span>
          <a href="" class="badge badge-secondary category">Raquette</a> &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a lang="fr" href=""
            >Auberge du Charmant-Som depuis le Col de Porte</a
          >
        </li>
        <li>
          <span class="date">12 nov. 2021</span>
          <a href="" class="badge badge-secondary category">Pédestre</a> &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a lang="fr" href="">Le Col de l'Aple et le sommet du Pinet</a>
        </li>
        <li>
          <span class="date">31 oct. 2021</span>
          <a href="" class="badge badge-secondary category">Pédestre</a> &nbsp;
          <span class="d-inline-block mb-2 massif chartreuse">
            <i class="fas fa-mountain"></i> Chartreuse
          </span>
          &nbsp;
          <a lang="fr" href="">GRP Chartreuse Epernay</a>
        </li>
        <li>
          <span class="date">26 sept. 2021</span>
          <a href="" class="badge badge-secondary category">Pédestre</a> &nbsp;
          <span class="d-inline-block mb-2 massif vercors">
            <i class="fas fa-mountain"></i> Vercors
          </span>
          &nbsp;
          <a lang="fr" href="">Le Moucherotte et le Sommet des Cimes</a>
        </li>
        <li>
          <span class="date">13 sept. 2021</span>
          <a href="" class="badge badge-secondary category">Pédestre</a> &nbsp;
          <span class="d-inline-block mb-2 massif beaufortain">
            <i class="fas fa-mountain"></i> Beaufortain
          </span>
          &nbsp;
          <a lang="fr" href="">Le Rocher du Vent avec détour par le tunnel</a>
        </li>
      </ul>
    </section>
  </div>
</div>

<app-footer></app-footer>
