<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <app-header></app-header>
</nav>

<div class="container">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Mes randonnées</h1>
      <p class="col-md-12 fs-4">
        Découvrez ci-dessous les randonnées que j'ai faites seul, entre amis ou en famille. Je vous propose toutes les informations nécessaires pour faire vous aussi ces itinéraires.<br><br>
        <small>Avant de débuter une randonnée, veuillez vous renseigner sur l'itinéraire, sa difficulté, la météo, etc. Ne faites pas un itinéraire sans vous être préparés.</small>
      </p>
      <button class="btn btn-primary btn-lg" type="button">C'est parti !</button>
    </div>
  </div>

  <hr class="col-3 col-md-2 mb-5">

  <div class="row g-5">
    <div class="col-md-8">
      <h2>Mes dernières sorties</h2>

      <ul class="icon-list ps-0">
        <li class="d-flex align-items-start mb-1"><a href="https://github.com/twbs/bootstrap-npm-starter" rel="noopener" target="_blank">Bootstrap npm starter</a></li>
        <li class="text-muted d-flex align-items-start mb-1">Bootstrap Parcel starter (coming soon!)</li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Pour partir en randonnée</h2>
      <p>
        Emportez toujours votre itinéraire avec vous en partant en randonnée. Pour cela chargez le fichier GPX de chaque randonnée et utilisez mon application GPX viewer (pour iOS) pour l'afficher.<br>
        <small><a href="https://apps.apple.com/ch/app/gpx-viewer/id1511582047?l=fr" target="_blank" class="appstorelink"><i class="fab fa-app-store-ios"></i> AppStore</a></small>
      </p>
    </div>
  </div>
</div>

<footer class="py-5 bg-dark">
  <app-footer></app-footer>
</footer>
